.container-form {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 400px;
}

label {
  display: flex;
  flex-direction: column;
}

.trunfo {
  display: block;
}
